/* .login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #dbeafe, #f8fafc);
}

